{
    local_certs
}

umbrel.tailc9398a.ts.net {
    encode gzip

    reverse_proxy /janus* janus:8088
    reverse_proxy /ws* janus:8188
    reverse_proxy /admin* janus:7088
    reverse_proxy /adminws* janus:7888
    reverse_proxy /demos* janus-web:8081
    reverse_proxy /obico* obico:3334
}
