
    email 8raziel8@gmail.com
}

umbrel.tailc9398a.ts.net {
    encode gzip

    # API HTTP do Janus
    handle /janus* {
        reverse_proxy janus:8088
    }

    # WebSockets API 
    handle /ws* {
        reverse_proxy janus:8188
    }

    # Admin API HTTP
    handle /admin* {
        reverse_proxy janus:7088
    }

    # Admin WebSockets
    handle /adminws* {
        reverse_proxy janus:7888
    }

    # Frontend demos (Janus web UI)
    handle /demos* {
        reverse_proxy janus-web:8081
    }

    # Streaming direto
    handle /streaming* {
        reverse_proxy janus-web:8081
    }
}


    # Obico API HTTP
    handle /obico* {
        reverse_proxy obico:3333
    }

    # Obico WebSockets
    handle /ws/obico* {
        reverse_proxy obico:3333
    }
}
